@if #{schemeType()} == dark {
  :root {
    --header_background: #2f3039bd!important;
    --header_primary-low-mid: rgb(197 197 223);
    --primary-low: rgb(42 43 52);
    --sidebar_background: #1e1f22;
  }
  .d-header-icons .d-icon{
    color: rgb(129 127 255 / 84%);
  }
  .search-menu .search-input, .search-menu-container .search-input {
    box-shadow: 0px 0px 20px 8px rgb(81 83 102 / 30%);
  }
  
  /* バッジ系 */
  a.badge-category__wrapper {
    background-color: color-mix(in srgb, var(--category-badge-color) 50%, black);
  }
  a.badge-category__wrapper:hover {
    filter: brightness(1.3);
  }
  .badge-category__wrapper .badge-category__name {
    color: color-mix(in srgb, var(--category-badge-color) 30%, white)!important;
  }
  
  .user-card .badge-section .user-badge, .user-card .badge-section .more-user-badges a {
    background: rgb(0 0 0 / 25%)!important;
  }
  
  .topic-post.topic-owner .topic-meta-data .username:after {
    color: #000;
    background: #6fc7ff;
  }
} @else {
  :root {
     --header_background: #8391ff5e!important;
     --header_primary-low-mid: rgb(155 153 255);
     --primary-low: rgb(225 226 240);
     --sidebar_background: #eff1ff;
  }
  .d-header-icons .d-icon{
    color: rgb(129 127 255 / 84%);
  }
  .search-menu .search-input, .search-menu-container .search-input {
    box-shadow: 0px 0px 20px 8px rgba(180, 189, 255, 0.30);
  }
  
  /* バッジ系 */
  a.badge-category__wrapper {
    background-color: color-mix(in srgb, var(--category-badge-color) 30%, white);
  }
  a.badge-category__wrapper:hover {
    filter: brightness(0.9);
  }
  .badge-category__wrapper .badge-category__name {
    color: color-mix(in srgb, var(--category-badge-color) 55%, black)!important;
  }
  
  .user-card .badge-section .user-badge, .user-card .badge-section .more-user-badges a {
    background: rgb(255 255 255 / 25%)!important;
  }
  
  .topic-post.topic-owner .topic-meta-data .username:after {
    color: #fff;
    background: #0d8ddb;
  }
}
.category-status .badge-category__wrapper .badge-category__name {
  color: var(--primary-high)!important;
}
