:root {
  --d-border-radius: 10px;
  --d-sidebar-section-link-icon-size: 0.85em;
  --d-max-width: 100%;

  --radius-small: 8px;
  --radius-medium: 10px;
  --radius-large: 12px;
  --radius-xlarge: 15px;
  --radius-xxlarge: 16px;
  --radius-round: 100px;
  --radius-circle: 100%;

  --transition-fast: all 0.1s;
  --transition-normal: all 0.2s;
  --transition-smooth: all 0.2s ease;
  --transition-ease-out: all 0.2s ease-out;

  --spacing-small: 4.5px;
  --spacing-medium: 5px;
  --spacing-large: 8px;
  --spacing-xlarge: 10px;

  --d-sidebar-row-height: 2.5em;
  --d-topic-list-avatar-size: 32px;

  --sidebar-section-wrapper-padding: 1rem 0 1rem;

  --input-border-color: var(--primary-200);

  --font-up-6: 2.1em;
}

.search-container .search-header {
  background: transparent;
  padding: 0rem 0%;
}

@media (prefers-reduced-motion: no-preference) {
  .discourse-no-touch .powered-by-discourse:hover {
    background: none;
  }
}

.emoji-picker__section-btn .emoji {
  transition: var(--transition-ease-out);
}

.emoji-picker .emoji:hover,
.emoji-picker .emoji:focus {
  transform: scale(1.2);
  transition: var(--transition-ease-out);
}

.select-kit.single-select.dropdown-select-box.is-expanded
  .select-kit-collection,
.select-kit.single-select.dropdown-select-box.is-expanded .select-kit-body {
  border-radius: var(--radius-small);
}

.full-width .contents .topic-list .topic-list-body .topic-list-item {
  transition: var(--transition-smooth);
}

.d-header {
  backdrop-filter: blur(16px);
}

.admin-customize.admin-customize-themes .alert.remote-theme-edits {
  border-radius: var(--radius-medium);
}

.hamburger-panel .revamped .sidebar-footer-container::before {
  background: none;
}

.archetype-private_message .regular.contents {
  border-radius: var(--radius-xxlarge);
}

.d-header-icons .icon {
  transition: var(--transition-normal);
}

.emoji-picker__sections-nav {
  border-radius: 0 var(--radius-small) 0 0;
}

input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.select-kit.combo-box .select-kit-header,
.d-editor-textarea-wrapper,
div.ac-wrap {
  border-radius: var(--radius-large);
}

.custom-category-boxes:not(.above-discovery-categories-outlet) .category-box {
  border: var(--border-standard);
}

.dropdown-menu__item {
  margin: var(--spacing-medium);
}

.dropdown-menu__item .btn,
.dropdown-menu__item .d-modal.json-schema-editor-modal .je-ready button,
.d-modal.json-schema-editor-modal .je-ready .dropdown-menu__item button,
.dropdown-menu__item
  .d-modal.json-schema-editor-modal
  .je-ready
  .json-editor-btn-add,
.d-modal.json-schema-editor-modal
  .je-ready
  .dropdown-menu__item
  .json-editor-btn-add {
  padding: 6px;
  transition: var(--transition-normal);
}

.sidebar-section-link-wrapper.dropdown-menu__item .sidebar-section-link,
.sidebar-section-link-wrapper .dropdown-menu__item .sidebar-section-link {
  border-radius: var(--radius-small);
}

.dropdown-menu__divider {
  margin: 0 var(--radius-small);
}

.menu-panel.drop-down {
  border: var(--border-dark);
}

.chat-message-creator__search-input {
  border-radius: var(--radius-medium);
}

.chat-message-creator__list-item {
  margin: 0 var(--spacing-xlarge);
  border-radius: var(--radius-medium);
  transition: var(--transition-normal);
}

#reply-control.open,
.grippie {
  border-radius: var(--radius-xlarge) var(--radius-xlarge) 0 0;
}

.dialog-content {
  border-radius: var(--radius-xlarge);
}

.d-header-icons .icon img.avatar {
  border-radius: var(--radius-circle);
}

.select-kit.single-select.dropdown-select-box .select-kit-row {
  margin: var(--spacing-small);
  border-radius: var(--radius-large);
  transition: var(--transition-fast);
}

.form-kit__control-composer .d-editor-button-bar > .btn,
.form-kit__control-composer
  .d-modal.json-schema-editor-modal
  .je-ready
  .d-editor-button-bar
  > button,
.d-modal.json-schema-editor-modal
  .je-ready
  .form-kit__control-composer
  .d-editor-button-bar
  > button,
.form-kit__control-composer
  .d-modal.json-schema-editor-modal
  .je-ready
  .d-editor-button-bar
  > .json-editor-btn-add,
.d-modal.json-schema-editor-modal
  .je-ready
  .form-kit__control-composer
  .d-editor-button-bar
  > .json-editor-btn-add {
  border-radius: var(--radius-small);
  transition: var(--transition-normal);
}

.discourse-no-touch
  .form-kit__control-composer
  .d-editor-textarea-wrapper:hover:not(:disabled)
  .d-icon {
  color: var(--primary-high);
}

.spoiler-blurred {
  transition: var(--transition-normal);
}

.select-kit.single-select.dropdown-select-box.is-expanded
  .select-kit-collection,
.select-kit.single-select.dropdown-select-box.is-expanded .select-kit-body {
  border-radius: var(--radius-large);
}

.groups-boxes .group-box {
  border: var(--border-light);
  transition: var(--transition-fast);
}

.alert.alert-info {
  border-radius: var(--radius-large);
}

.discourse-reactions-list .reactions .user-list .container {
  border-radius: var(--radius-medium);
}

.d-modal__container {
  background-color: var(--primary-50);
}

.gif-modal .d-modal__footer img,
.gif-modal .modal-footer img {
  height: 16px;
}

.search-container .search-bar .select-kit {
  flex: 0 1 20%;
}

#search-type {
  position: relative;
  overflow: visible;
}

#search-type-body {
  max-height: 200px;
  overflow-y: auto;
}

.select-kit.dropdown-select-box.period-chooser .select-kit-collection {
  padding: 0;
}

.full-width .contents .topic-list .topic-list-body .posters a.latest {
  align-items: normal;
}

.chat-reply.is-direct-reply {
  border-radius: var(--radius-round);
  padding: 2.5px 12px;
}

html body.no-ember .background-container {
  display: block;
}

.youtube-onebox {
  border-radius: var(--radius-large);
  border: solid 1px var(--secondary);
}

.topic-body .cooked details,
details .d-editor-preview,
details.details__boxed,
.ProseMirror details {
  border-radius: var(--radius-small);
}

.user-menu.revamped .bottom-tabs {
  border-top: none;
}

.user-menu.revamped #quick-access-profile hr {
  border-top: none;
}

[data-wrap="card-header"] {
  padding: 0.5em 1em;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-bottom: 0;
  background: #007bff;
  color: #fff;
  border-radius: 5px 5px 0 0;
}

[data-wrap="card-body"] {
  padding: 1em;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0 0 5px 5px;
}

.d-header-icons .icon {
  border-radius: var(--radius-circle);
}

.btn,
.d-modal.json-schema-editor-modal .je-ready button,
.d-modal.json-schema-editor-modal .je-ready .json-editor-btn-add {
  white-space: nowrap;
}

.navigation-categories .navigation-container,
.categories-list .navigation-container {
  border-bottom: none;
}

.topic-list .topic-excerpt:not(.topic-list-layout-table-ai) {
  display: none;
}

div.poll-outer div.poll {
  border-radius: var(--radius-medium);
}

a.badge-category__wrapper {
  padding: 0 6px;
  border-radius: 0.5em;
  filter: brightness(1);
  transition: var(--transition-fast);
}

.discourse-tag {
  border-radius: 0.5em;
}

.topic-list .topic-list-item-separator .topic-list-data span {
  border-radius: var(--radius-small);
  bottom: 8px;
}

tr.topic-list-item-separator {
    height: 16px;
}

button.btn-flat.bulk-select {
  border: none;
}

.cooked img:not(.thumbnail, .ytp-thumbnail-image, .emoji),
.d-editor-preview img:not(.thumbnail, .ytp-thumbnail-image, .emoji) {
  border-radius: var(--radius-medium);
}

.meta {
  width: auto;
  margin: var(--spacing-large);
  border-radius: var(--radius-medium);
}

.dropdown-menu__item .btn,
.dropdown-menu__item .d-modal.json-schema-editor-modal .je-ready button,
.d-modal.json-schema-editor-modal .je-ready .dropdown-menu__item button,
.dropdown-menu__item
  .d-modal.json-schema-editor-modal
  .je-ready
  .json-editor-btn-add,
.d-modal.json-schema-editor-modal
  .je-ready
  .dropdown-menu__item
  .json-editor-btn-add {
  border-radius: var(--d-border-radius);
}

.topic-list .topic-list-header .topic-list-data,
.topic-list .topic-list-item .topic-list-data {
  border-radius: var(--radius-small) var(--radius-small) 0 0;
}

.user-card,
.group-card {
  border-radius: var(--radius-small) !important;
}

.user-card .card-content,
.group-card .card-content {
  border-radius: 100px !important;
}

.fk-d-menu .btn, .fk-d-menu .d-modal.json-schema-editor-modal .je-ready button, .d-modal.json-schema-editor-modal .je-ready .fk-d-menu button, .fk-d-menu .d-modal.json-schema-editor-modal .je-ready .json-editor-btn-add, .d-modal.json-schema-editor-modal .je-ready .fk-d-menu .json-editor-btn-add {
  border-radius: var(--d-button-border-radius);
}

.user-card .badge-section .user-badge,
.user-card .badge-section .more-user-badges a {
  border-radius: var(--radius-small) !important;
}

.chat-message .onebox img:not(.ytp-thumbnail-image, .onebox-avatar-inline),
.chat-message img.onebox,
.chat-message .chat-uploads img,
.chat-message p img,
.chat-message aside.onebox .onebox-body .aspect-image-full-size,
.chat-message aside.onebox .onebox-body .aspect-image-full-size img,
.chat-message .chat-message-text p img:not(.emoji) {
  border-radius: var(--d-border-radius);
}

.sidebar-footer-wrapper .sidebar-footer-container::before {
  display: none;
}
.sidebar-wrapper .sidebar-container {
  border-right: none; /* ここあったほうがいいかも？ */
}
.sidebar-section-link-wrapper .sidebar-section-link {
  border-radius: 0 100px 100px 0;
  padding: calc(var(--d-sidebar-row-horizontal-padding) * 3)
}
.sidebar-row {
  padding: calc(var(--d-sidebar-row-horizontal-padding) * 3)
}

.search-menu .search-input,
.search-menu-container .search-input {
  border: none;
  border-radius: 100px;
  padding: var(--space-2) 10px;
}

/* !important使い過ぎてごめんね♡ */
.topic-drafts-menu-trigger {
  margin-left: -8px !important;
  padding: 8px !important;
  border-radius: 0 100px 100px 0 !important;
}

.topic-list-header tr {
  border-bottom: none;
}

@media (min-width: 40rem) {
  .d-header {
    height: 3.2em;
  }
}

.welcome-banner__wrap {
  padding: var(--space-6);
}

.welcome-banner__title {
  font-weight: 400;
}

.admin-area .sidebar-wrapper .admin-panel, 
.search-container .search-bar,
.search-container .search-filters,
.search-container .search-filters .search-advanced-filters,
.fps-result .topic .bulk-select {
  background: transparent;
}

.sidebar-wrapper .sidebar-sections {
  overflow-y: scroll;
}

#create-category {
  border-radius: var(--radius-round);
}

.sidebar-wrapper, .sidebar-footer-wrapper {
  background: var(--sidebar_background);
}

#main-outlet {
  width: calc(100% - #{$left-and-right-margins} / 100 * 20%);
  margin: auto;
  margin-top: 1rem;
  max-width: calc(800px + (100 - #{$left-and-right-margins}) * 10px);
}

div.poll-outer div.poll .results .bar {
  border-radius: 100px;
}

div.poll-outer div.poll .results .bar-back {
  background: var(--primary-100);
  border-radius: 100px;
}
