.topic-list {
  display: block;
  width: 100%;
}

.topic-list-header {
  display: block;
  width: 100%;
}

.topic-list-header tr {
  display: flex;
  width: 100%;
}

.topic-list-header th {
  padding: 12px;
  box-sizing: border-box;
}

.topic-list-header .default {
  flex: 1;
}

.topic-list-header .posters {
  width: 80px;
  flex-shrink: 0;
}

.topic-list-header .posts,
.topic-list-header .views {
  width: auto;
  flex-shrink: 0;
  text-align: center;
}

.topic-list-header .activity {
  width: 80px;
  flex-shrink: 0;
  text-align: right;
}

.topic-list-body {
  display: block;
  width: 100%;
  border-top: none;
}

.topic-list-item {
  display: flex;
  width: 100%;
  margin-bottom: 12px;
  border-radius: 12px;
  overflow: hidden;
  border: var(--table-border-width) solid var(--table-border-color);
  box-sizing: border-box;
  box-shadow: 0px 1px 8px 0px var(--table-border-color);
}

.topic-list-item:hover {
  box-shadow: 0px 6px 8px 0px var(--table-border-color);
  transform: translateY(-2px);
}

.topic-list-item td {
  background-color: inherit;
  padding: 12px;
  box-sizing: border-box;
}

.topic-list-item .main-link {
  flex: 1;
}

.topic-list-item .posters {
  width: 80px;
  flex-shrink: 0;
}

.topic-list-item .posts,
.topic-list-item .views {
  width: 60px;
  flex-shrink: 0;
  text-align: center;
}

.topic-list-item .activity {
  width: 80px;
  flex-shrink: 0;
  text-align: right;
}

.topic-list-item:last-child {
  margin-bottom: 0;
}

.topic-list .topic-list-header .topic-list-data, .topic-list .topic-list-item .topic-list-data {
  margin: auto;
}

.full-width .contents .topic-list .topic-list-body .posters a:not(.latest) {
  display: none;
}

.full-width .contents .topic-list .topic-list-body .posters a.latest {
  margin-top: -8px;
}

.topic-list .topic-list-header .topic-list-data, .topic-list .topic-list-item .topic-list-data {
  padding: 12px;
}
