:root {
}

/* tbodyの親テーブルに設定 */
tbody.topic-list-body {
  display: table;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 0.75rem;
}

/* 各行 */
.topic-list-item {
  border: 1px solid #e0e0e0; /* ボーダー復活 */
}

/* セルに背景と角丸 */
.topic-list-item td {
  background-color: #fff;
}

.topic-list-item td:first-child {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.topic-list-item td:last-child {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
