.topic-list {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

.topic-list-header th {
  padding: 12px;
  box-sizing: border-box;
}

.topic-list-header .default {
  width: calc(100% - 280px);
}

.topic-list-header .posters {
  width: 80px;
}

.topic-list-header .posts,
.topic-list-header .views {
  width: 60px;
  text-align: center;
}

.topic-list-header .activity {
  width: 80px;
  text-align: right;
}

.topic-list-item {
  display: block;
  margin-bottom: 12px;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  border: var(--table-border-width) solid var(--table-border-color);
}

.topic-list-item td {
  display: inline-block;
  vertical-align: middle;
  background-color: inherit;
  padding: 12px;
  box-sizing: border-box;
}

.topic-list-item .main-link {
  width: calc(100% - 304px);
}

.topic-list-item .posters {
  width: 104px;
}

.topic-list-item .posts,
.topic-list-item .views {
  width: 84px;
  text-align: center;
}

.topic-list-item .activity {
  width: 104px;
  text-align: right;
}

.topic-list-item:last-child {
  margin-bottom: 0;
}
