:root {
}

.topic-list {
  display: block;
}

.topic-list-body {
  display: block;
}

.topic-list-item {
  display: table;
  width: 100%;
  margin-bottom: 12px;
  border-radius: 8px;
  overflow: hidden;
  table-layout: fixed;
}

.topic-list-item td {
  display: table-cell;
  background-color: #fff;
}
