:root {
}

.topic-list {
  border-collapse: separate;
  border-spacing: 0 0.75rem;
}

/* 各行に角丸と背景 */
.topic-list-item td {
  background-color: #fff;
}

.topic-list-item td:first-child {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.topic-list-item td:last-child {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
