.topic-list-item {
  display: block;
  margin-bottom: 12px;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  border: var(--table-border-width) solid var(--table-border-color);
}

.topic-list-item td {
  background-color: inherit;
}

.topic-list-item:last-child {
  margin-bottom: 0;
}
